.container {
    background-color: #0C70DB;
    padding: 16px;
}

.link {
    color: #fff;
    font-size: 16px;
}

.caretIcon {
    color: #fff;
}

.term {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}