.stackItem--centered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stackContainer--accessories {
  margin-top: 80px;
}

.stackItem--accessories {
  height: 100%;
  display: flex;
  align-items: center;
}

/*================================
  ========== RESPONSIVE ==========
  ================================*/

@media screen and (max-width: 640px) {
  .stackItem--centered {
    text-align: center;
  }

  .stackContainer--accessories {
    margin: 32px 0 0;
    transform: translateX(-16px);
    width: calc(100% + 33px) !important;
    display: table;
  }
}