.infoCardContainer--banner-submenu {
  background-color: #379AFF;
}

.infoCardHeadline--banner-submenu {
  color: #fff;
}

.infoCardCallActionContainer--banner-submenu :global(.vtex-button) {
  color: #0c70d8;
  border-color: #fff;
  background-color: #fff;
}

.searchBarContainer {
  padding: 0;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  height: 64px;
  border-color: #e5e5e5;
  border-radius: 0;
}

.autoCompleteOuterContainer :global(.vtex-styleguide-9-x-input),
.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  background-color: #e5e5e5;
}

.searchIcon {
  color: #1c81ba;
}

:global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.imageElement--banner {
  display: block;
  width: 100%;
  height: auto;
  /* height: calc(100vh - 64px); */
  /* object-fit: cover; */
}

.imageElement--tipbar {
  width: 100%;
  height: auto;
}

.imageElement--cover {
  object-fit: cover;
  display: block;
}

.imageElement--darker {
  filter: brightness(35%); 
}

.imageElement--accessories {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
  min-height: 447px;
}

.imageElement--instafeed {
  width: 100%;
  height: auto;
}

.imageElement--landing {
  margin-bottom: 64px;
}

/******************
*     Produto     *
******************/
.productDescriptionTitle {
  font-size: 2rem;
  color: #11181f;
  font-weight: bold;
}

.shippingContainer {
  background-color: #f0f1f3;
  border-radius: 4px;
  padding: 16px 16px 40px;
  position: relative;
}

.shippingContainer :global(.vtex-input__label) {
  font-weight: bold;
  color: #333;
}

.shippingContainer :global(.vtex-button) {
  background: #2077e3;
  color: #fff;
  padding: 8px 0;
  max-width: 200px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.productBrand {
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}

.sellingPrice {
  margin-top: 16px;
  color: #127Deb;
}

.skuSelectorName {
  font-weight: bold;
  color: #c4c4c4;
  font-size: 16px;
}

.skuSelectorSubcontainer {
  margin: 16px 0;
}

.shareLabel {
  display: none;
}

.shareButtons {
  justify-content: center;
  padding: 16px 0;
}

.shareSocialIcon {
  margin: 0 4px;
}

.infoCardContainer {
  max-width: 1120px;
  margin: auto;
  padding: 0;
}