/*================================
  ============ SHELVES ===========
  ================================*/

.flexRow--mainShelf {
  max-width: 1120px;
  margin: auto;
}

.flexRowContent--mainShelf {
  margin: 0 -16px;
}

.flexRow--mainShelf :global(.vtex-slider-layout-0-x-slide) {
  padding: 0 16px;
}

.flexRow--mainShelf :global(.vtex-button) {
  padding: 16px 0;
}

.flexRow--mainShelf :global(.vtex-slider-layout-0-x-paginationDotsContainer) {
  display: none;
}

.flexRowContent--mainShelf :global(.vtex-slider-layout-0-x-sliderRightArrow) {
  transform: translateX(64px);
}

.flexRowContent--mainShelf :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  transform: translateX(-64px);
}

/*================================
  ============ TIPBAR ============
  ================================*/

  .flexRow--tipbar {
    padding-top: 32px;
    max-width: 1120px;
    margin: auto;
  }
  
  .flexRowContent--tipbar {
    margin: 0 -16px;
  }
  
  .flexRow--tipbar .stretchChildrenWidth {
    align-items: center;
    padding: 16px;
  }

/*================================
  ========== INSTAFEED ===========
  ================================*/

.flexRow--instafeed {
  padding-top: 64px;
  max-width: 1120px;
  margin: auto;
}

.flexRowContent--instafeed {
  margin: 0 -16px;
}

.flexRow--instafeed .stretchChildrenWidth {
  align-items: center;
  padding: 16px;
}